{% extends "base.html" %}
{% block body %}
    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Negative Tweets Reports</h1>
        </div>
        <p class="lead">Tweets</p>
        <table class="table">
          <thead>
              <th>User</th>
              <th>Text</th>
              <th>Prediction</th>
          </thead>
          <tbody>
            {% for t in tweets -%}
            <tr>
              <td>{{t.screen_name}}</td>
              <td>{{t.text}}</td>
              <td>{{t.prediction}}</td>  
            </tr>
            {% endfor -%}
          </tbody>
        </table>
      </div>

      <div id="push"></div>
    </div>
    <script src="/static/bootstrap.min.js"></script> 
{% endblock %}