<!DOCTYPE = html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Twitter Sentiment Report</title>
    <style>
      body {
        background-color: lightblue;
      }
      h1 {
        color: white;
        text-align: center;
      }
      p {
        font-family: verdana;
        font-size: 20px;
        color:
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Topics</h1>   
    {% for team in teams %}
      <p><a href="/team={{ team }}">{{ team }}</a></p>
    {% endfor %} 
  </body>
</html>